/* GENERAL ------------------------------------------------------------------------------------- */

:root
{
    --white: #FFF;
    --grey: #555;
    --red: #B44C4C;
    --fancy_line_height: 8px;
}

*
{
    margin: 0px;
    padding: 0px;
}

html
{
    scroll-behavior: smooth;
}

body
{
    color: var(--grey);
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    word-wrap: break-word;
}

header, main, footer
{
    height: 100vh;
}

main, footer
{
    background-color: var(--white);
}

/* SCROLLBAR ------------------------------------------------------------------------------------ */

::-webkit-scrollbar
{
    width: 10px;
    background-color: var(--white);
}

::-webkit-scrollbar:horizontal
{
    height: 10px;
}

::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: var(--red);
    border: 1px solid var(--white);
}

/* LINKS --------------------------------------------------------------------------------------- */

a
{
    color: var(--grey);
    text-decoration: none;
    transition: color 0.5s;
}

a:hover
{
    color: var(--red);
}

.a:hover
{
    cursor: pointer;
}

/* BUTTONS ------------------------------------------------------------------------------------- */

#button_shop, .button_buy
{
    border: 1px solid var(--red);
    border-radius: 5px;
    transition: background-color 0.5s;
}

#button_shop, .button_buy:hover
{
    background-color: var(--white);
    color: var(--red);
}

#button_shop:hover, .button_buy
{
    background-color: var(--red);
    color: var(--white);
}

.button_buy
{
    margin: 15px;
    padding: 8px 30px;
    width: max-content;
    text-transform: uppercase;
    font-weight: bold;
}

/* HEADER (NAV BAR) ---------------------------------------------------------------------------- */

nav
{
    padding: 10px 30px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

nav img
{
    height: 80px;
}

nav ul
{
    margin: 20px;
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

nav li
{
    margin: 10px 20px 0 20px;
    padding: 7px;
    font-size: 1.1rem;
    letter-spacing: .3rem;
}

/* HEADER (BODY) ------------------------------------------------------------------------------- */

header .body::before
{
    content: "";
    display: block;
    width: 100%;
    height: var(--fancy_line_height);	
    background-color: var(--red);
}

header .body
{
    height: 100%;
    background: url("./images/background.jpg") no-repeat;
    background-size: cover;
}

h1
{
    margin-left: 40px;
    color: var(--white);
    font-size: 2.7rem;
    font-weight: bold;
    letter-spacing: .5rem;

    position: absolute;
    right: 5%;
    bottom: 20%;
}

h1 span
{
    display: block;
}

h1 span:last-child::before
{
    content: "";
    background-color: var(--white);
    display: inline-block;
    height: var(--fancy_line_height);
    width: 312px;
    margin-bottom: 10px;
    margin-right: 20px;
}

/* RED HEADERS --------------------------------------------------------------------------------- */

h2
{
    background-color: var(--red);
    color: var(--white);
    height: 130px;

    text-transform: uppercase;
    letter-spacing: .7rem;
    font-weight: bold;
    font-size: 1.6rem;

    display: flex;
    align-items: center;
}

main h2
{
    justify-content: flex-start;
    padding-left: 60px;
}

footer h2
{
    justify-content: flex-end;
    padding-right: 60px;
}

/* MAIN & FOOTER ------------------------------------------------------------------------------- */

h3
{
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-weight: bold;
    font-size: 1.1rem;
}

.texts p
{
    line-height: 2.5;
}

/* MAIN (GENERAL) ------------------------------------------------------------------------------ */

main .body
{
    padding: 50px;
    height: calc(100vh - 230px);
    overflow: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

main section
{
    margin-right: 50px;
    margin-bottom: 50px;
    width: 50%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

main h3, main .texts
{
    margin-bottom: 20px;
}

main .texts:last-child
{
    margin-bottom: 0;
}

#main_text_1 h3::after
{
    content: "";
    display: inline-block;
    height: var(--fancy_line_height);
    width: 309px;
    background-color: var(--red);
    margin-left: 10px;
    margin-bottom: 3px;
}

#main_text_2 h3::before
{
    content: "";
    display: inline-block;
    height: var(--fancy_line_height);
    width: 345px;
    background-color: var(--red);
    margin-right: 10px;
    margin-bottom: 3px;
}

#main_text_3 h3::after
{
    content: "";
    display: inline-block;
    height: var(--fancy_line_height);
    width: 362px;
    background-color: var(--red);
    margin-left: 10px;
    margin-bottom: 3px;
}

/* MAIN (IMAGES) ------------------------------------------------------------------------------- */

main aside
{
    display: flex;
    flex-flow: column nowrap;
}

#first_row img:first-child
{
    margin-right: 10px;
    width: 290px;
    height: 430px;
}

#first_row img:last-child
{
    width: 230px;
    height: 430px;
}

#second_row img
{
    width: 534px;
    margin-top: 10px;
}

/* FOOTER (GENERAL) ---------------------------------------------------------------------------- */

footer .body
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer h3
{
    margin: 50px;
    margin-bottom: 30px;
    text-align: center;
}

footer .texts h3::after
{
    content: "";
    display: inline-block;
    height: var(--fancy_line_height);
    width: 200px;
    background-color: var(--red);
    margin-left: 10px;
    margin-bottom: 3px;
}

footer .texts p
{
    margin: auto;
    margin-bottom: 30px;
    max-width: 60%;
}

/* FOOTER (GUITARS) ---------------------------------------------------------------------------- */

#guitars
{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.guitar
{
    margin: 30px;
    width: 200px;
    height: 450px;
    text-align: center;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.guitar img
{
    margin-bottom: 15px;
    height: 280px;
}

.guitar h4
{
    margin-bottom: 20px;
    letter-spacing: .2rem;
    line-height: 1.7;
    text-transform: uppercase;
    font-weight: bold;
}

.guitar button
{
    position: absolute;
    bottom: 0;
}

.price
{
    position: absolute;
    bottom: 65px;
    letter-spacing: .2rem;
    display: flex;
    justify-content: space-between;
}

.price p
{
    margin: 0 15px;
}

.old_price
{
    text-decoration: line-through;
}

